<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <!--<h1>{{title}}</h1>-->
        <p>This is help page coming from help.hbs not help.html.</p>
        {{>footer}}
    </body>
</html>