<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>{{name}}</p>
        <img src="/img/minion.jpg">
        <p>This page is coming from about.hbs not from about.html declared under public folder.</p>
    </body>
</html>